services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      #- "8000:8000" # TCP tunnel server
      - "9443:9443" # The UI
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data